accelerate==0.22.0
addict==2.4.0
aiosignal==1.3.1
alabaster==0.7.13
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
arguments==76
astor==0.8.1
async-timeout==4.0.2
attrdict==2.0.1
Babel==2.12.1
bce-python-sdk==0.8.87
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
blinker==1.6.2
bounding-box==0.1.3
brotlipy==0.7.0
build==0.10.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.6
cmake==3.26.3
coloredlogs==15.0.1
consoleprinter==95
contourpy==1.0.7
coremltools==6.2
coverage==5.3.1
cryptography==41.0.1
cssselect==1.2.0
cssutils==2.7.1
cycler==0.10.0
Cython==3.0.0
darknet==0.3
dataclasses==0.6
decorator==5.1.1
deep-sort-realtime==1.3.2
Deprecated==1.2.13
distlib==0.3.6
docker-pycreds==0.4.0
docutils==0.17.1
easydict==1.10
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fastdup==0.202
filelock==3.12.0
fire==0.5.0
Flask==2.3.2
flask-babel==3.1.0
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.9.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-api-core==2.11.0
google-auth==2.19.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.54.2
gTTS==2.3.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.3.2
idna==2.10
ImageHash==4.3.1
imageio==2.31.1
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
imutils==0.5.4
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
json-tricks==3.16.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.17.3
kiwisolver==1.4.4
lanms==1.0.2
lanms-neo==1.0.2
lazy_loader==0.3
lit==16.0.5
lmdb==1.4.1
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
munch==4.0.0
mypy-extensions==1.0.0
mysql-connector-python==8.0.32
natsort==8.2.0
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
onemetric==0.1.2
onnx==1.13.0
onnx-simplifier==0.4.28
onnxruntime==1.13.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
paddle-bfloat==0.1.7
paddleocr==2.6.1.3
paddlepaddle-gpu==2.5.1
pandas==2.0.1
pandas-ta==0.3.14b0
pathtools==0.1.2
pbr==5.11.1
pdf2docx==0.5.6
Pillow==9.5.0
pip-tools==6.13.0
pkgutil_resolve_name==1.3.10
playsound==1.3.0
Polygon3==3.0.9.1
premailer==3.10.0
pretrainedmodels==0.7.4
protobuf==4.23.2
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post4
pycocotools==2.0.6
pycparser==2.21
pycryptodome==3.18.0
pyDeprecate==0.3.2
pydub==0.25.1
pyflann==1.6.14
pyflann-py3==0.1.0
pyheif==0.7.1
PyMuPDF==1.20.2
pyOpenSSL==23.2.0
pyparsing==2.4.7
pyproject_hooks==1.0.0
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
rapidfuzz==3.2.0
rarfile==4.0
redis==5.0.0
regex==2023.5.5
requests @ file:///croot/requests_1690400202158/work
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
roboflow==1.1.0
rsa==4.9
s3transfer==0.6.1
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
SecretStorage==3.3.3
sentry-sdk==1.24.0
setproctitle==1.3.2
shapely==2.0.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soundfile==0.12.1
soupsieve==2.4.1
Sphinx==4.0.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotipy==2.23.0
stevedore==4.1.1
stringcase==1.2.0
super-gradients==3.1.0
supervision==0.11.1
sympy==1.12
TA-Lib==0.4.25
tensorboard-data-server==0.7.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.7.10
timm==0.9.2
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.0
torchtnt @ git+https://github.com/pytorch/tnt.git@9197b9e529aef66c293c6ba20ba35be728884df2
torchvision==0.15.0
tornado==6.3.2
tqdm==4.65.0
transformers==4.32.1
treelib==1.6.1
triton==2.0.0
typing-inspect==0.9.0
typing_extensions==4.6.1
tzdata==2023.3
ujson==5.8.0
ultralytics==8.0.169
urllib3 @ file:///croot/urllib3_1686163155763/work
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
visdom==0.2.4
visualdl==2.5.3
wandb==0.15.8
webcolors==1.13
Werkzeug==2.3.4
wget==3.2
yapf==0.33.0
yarl==1.9.2
zipp==3.15.0
